#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
servers/odm/workarea/*
servers/odm/derby/*
servers/odm/messaging/*
servers/odm/tranlog/*
[Rr]elease*/
_ReSharper*/
.sLock
*.lck

